<!doctype HTML>
<html>
  <head>
    <title>PhoneBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
  </head>
  <body>
    <div class="arrow-right"></div>
    <div class="git-icon">
      <a href="https://github.com/Neskens121/phoneBook"></a>
    </div>
    <div id="main" role="main">
      <div class="element custom">
        <div class="element-header">
          <h2>Add New Contact</h2>
        </div>
        <div id="contact-form">
          <form action="/savecontact" method="POST">
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" name="firstname" placeholder="Enter your first name" required>
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="lastname" placeholder="Enter your first name" required>
            <label for="phonenumber">Phone Number</label>
            <input type="text" id="phonenumber" name="phonenumber" placeholder="069/123-4567" required>
            <div class="cf">
              <input type="submit" class="btn fa-input" value="&#xf0c7; Save">
            </div>
          </form>
        </div>
        <div id="contact-actions">
          <a href="/">
            <i class="fa fa-address-book fa-2x" title="My Contacts" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/script.js" ></script>
  </body>
</html>
