<!doctype HTML>
<html>
  <head>
    <title>PhoneBook</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
  </head>
  <body>
    <div id="main" role="main">
      <div class="element custom">
        <div class="element-header">
          <div  id="icon" style="text-align:center">
            <span class="circle">{{ contact.name_first[0] }}{{ contact.name_last[0] }}</span>
          </div>
        </div>
        <div id="contact-info">
          <h2>{{ contact.name_first }} {{ contact.name_last }}</h2>
        </div>
        <div id="contact-actions">
          <a href="/">
            <i class="fa fa-address-book fa-2x" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
          </a>
        </div>
        <!--<div class="element-content">

          <ul class="list">
            {% for row in contact %}
            <li id="index-A" data-group="work">
              <a href="/contactinfo/{{row.id}}">{{ row.name_first }} {{ row.name_last }}
                <span>{{ row.phone_number }}</span>
              </a>
            </li>
            {% else %}
            <li>This would display if the 'rows' collection were empty</li>
            {% endfor %}
            
          </ul>

        </div>-->
      </div>
    </div>
    <script type="text/javascript" src="/js/script.js" ></script>
  </body>
</html>
