<!doctype HTML>
<html>
  <head>
    <title>PhoneBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
  </head>
  <body>
    <div class="arrow-right"></div>
    <div class="git-icon">
      <a href="https://github.com/Neskens121/phoneBook"></a>
    </div>
    <div id="main" role="main">
      <div class="element custom">
        <div class="element-header">
          <div class="header-wrapper cf">
            <span class="block">My Contacts</span>
            <span class="block block-right">
              <a href="/addcontact">
                <i class="fa fa-plus-circle fa-2x" title="Add New Contact"></i>
              </a>
            </span>
          </div>
          <input id="search" type="text" name="s" value="" placeholder="Search" autocomplete="off">
        </div>
        <div class="element-content">

          <ul class="list">
            {% for row in rows %}
            <li id="index-A" data-group="work">
              <a href="/contactinfo/{{ row.id }}">{{ row.name_last }} {{ row.name_first }}
                <span>{{ row.phone_number }}</span>
              </a>
            </li>
            {% else %}
              <li>
                <a href="">No Contacts</a>
              </li>
            {% endfor %}
            <li id="nocontacts">
              <a href="">No Contacts</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/script.js" ></script>
  </body>
</html>
