<!doctype HTML>
<html>
  <head>
    <title>PhoneBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="/css/msc-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  </head>
  <body>
    <div id="main" role="main">
      <div class="element custom">
        <div class="element-header">
          <div  id="icon" style="text-align:center">
            <span class="circle">{{ contact.name_first[0] }}{{ contact.name_last[0] }}</span>
          </div>
        </div>
        <div id="contact-info">
          <h2>{{ contact.name_first }} {{ contact.name_last }}</h2>
          <a href="tel:{{contact.phone_number}}">{{contact.phone_number}}</a>
        </div>
        <div id="contact-actions">
          <a href="/">
            <i class="fa fa-address-book fa-2x" title="My Contacts" aria-hidden="true"></i>
          </a>
          <a id="deleteLink" href="/deletecontact/{{ contact.id }}">
            <i id="deleteBtn" class="fa fa-trash fa-2x" title="Delete Contact" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/script.js" ></script>
    <script src="/js/msc-script.js"></script>
    <script type="text/javascript">
      var deleteBtn = document.getElementById('deleteBtn');
      deleteBtn.addEventListener('click', function(event){
        event.preventDefault();
        mscConfirm({
          title: 'License',
          dismissOverlay: true,   // default: false, closes dialog when clicked on overlay.
          onOk: function() {
            document.getElementById('deleteLink').click();
          },
          onCancel: function() {
          }
        });
      });
    </script>
  </body>
</html>
